# Compiled class files
*.class

# Log files
*.log

# Package files
*.jar
*.war
*.ear

# IntelliJ project files
.idea/
*.iml
*.ipr
*.iws

# Eclipse project files
.classpath
.project
.settings/

# NetBeans project files
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Maven project files
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Gradle project files
.gradle/
build/

# Visual Studio Code project files
.vscode/

# Operating System files
.DS_Store
Thumbs.db
